@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;



    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family:'Times New Roman', Times, serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family:'Courier New', Courier, monospace; */
    /* font-family: fantasy; */
    /* font-family: cursive; */
    /* font-family: monospace; */
    /* font-family: sans-serif ; */
    /* font-family: serif ; */
}

/* input, button {
    font: inherit;
} */

p {

    line-height: 1.5;

    /* font-style: normal; */
    /* font-style: oblique; */
    /* font-style: italic; */

    /* font-weight: bolder; */
    /* font-weight: lighter; */
    /* font-weight: normal; */
    /* font-weight: 900; */
    /* font-weight: 100; */

    /* word-spacing: 0.1em; */

    /* letter-spacing: 0.1em; */

    /* text-indent: 2em; */

    /* text-align: right; */
    /* text-align: justify; */
    /* text-align: left; */

    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */

    /* text-decoration: none; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration: underline; */
}